---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const experienceCollection = await getCollection("experience");
---

<Layout>
  <div class="container">
    <header>
      <h1>sammy samkough</h1>
      <div></div>
    </header>
  </div>
</Layout>
